<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Charity</title>

         {% load static %}
  <link  href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link  href="{% static 'css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}"  rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css  "/>
<!-- Jquery js -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Slider js -->
<script src="http://propeller.in/components/range-slider/js/wNumb.js"></script>
<script src="http://propeller.in/components/range-slider/js/nouislider.js"></script>



 <link rel="stylesheet" type="text/css" href="http://propeller.in/components/range-slider/css/nouislider.min.css">

 <link rel="stylesheet" type="text/css" href="http://propeller.in/components/textfield/css/textfield.css">

 <link rel="stylesheet" type="text/css" href="http://propeller.in/components/checkbox/css/checkbox.css">


<link rel="stylesheet" type="text/css" href="http://propeller.in/components/range-slider/css/range-slider.css">
    <style>
    	.pmd-range-slider .noUi-handle:before,
.pmd-range-slider.noUi-horizontal .noUi-handle-upper .noUi-tooltip:before, .pmd-range-slider.noUi-horizontal .noUi-handle-lower .noUi-tooltip:before,
.pmd-range-slider .noUi-tooltip,
.pmd-range-slider .noUi-connect{
  background:blue !important;
  color:blue !important
}

.pmd-range-slider .noUi-pips .noUi-marker-horizontal{
  background: #676767 !important;
}

.inp{
  width:30px;
  border:0px;
  border-bottom:1px solid #ffcc66;
}

.container {
  display: flex;
}
.container > div {
  flex: 1; /*grow*/
}


 .mid {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cont:hover .image {
  opacity: 0.3;
}

.cont:hover .mid {
  opacity: 1;
}

#ach:hover
{
    color: dodgerblue;
    background: white;
}
.imag:hover
{
    padding: 10px;
}
</style>
</head>

	<body>
<!--begin nv -->
{% include 'header.html' %}
  <!-- ======== main started ========= -->

  <main class="charity-01-main">

    <!-- ============abt-01 Section  Start============ -->

    <section class="abt-01">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading-wrapper">
              <h3>Categories</h3>
              <ol>
                <li><a href="{% url 'home' %}" style="color:white;">Accueil</a><i>/</i></li>
                <li>Categories</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>







  <div class="container">
  <div class="row">
    <div class="col-2">
    <br>
     <center><h2>Categories</h2></center>
          {% for a in ca %}
<strong>
    <a href="{% url 'categorie' a.idCat %}" style="color: black; text-decoration: none">{{ a.idCat__nom }}  {{ a.dcount }}</a><br>

</strong>
        {% endfor %}<br>
<form method="POST">
{% csrf_token %}
         <div>
<!-- Slider -->

             <center><h2>Prix:</h2></center>
<div id="pmd-slider-value-range" class="pmd-range-slider" min="0" max="200"></div>
<br><center>    Min<input type="text" name="min" class="inp" id="value-min" />
    Max<input type="text" name="max" class="inp" id="value-max" /></center>


  </div><br>
<center>  <input type="submit" value="Filtrer" class="btn btn-primary" ></center>

</form>

<br>

 <h4 > Best Product </h4>
<br><center>
  <h4 > {{  best.nom}} </h4>
    </center>



            <a href="{% url 'single' best.id %}">

                <img src="{% static best.image %} " style='width: 305%; ' class='imag'></a>
                    <div class="mid">
    <div class="text">   <a href="{% url 'addCart' best.id %}"  style="padding: 10px; background:  rgb(1,124,183);">

	<i class="fa fa-shopping-cart" style="font-size:20px; color: white"></i>
 </a> </div>
  </div>
<center>
     <span class='r1'>{{ best.prix }} $</span><br>
            <a href="{% url 'single' best.id %}" id="ach" class="btn btn-primary" >Acheter</a>

</center>

    </div>

    <div class="col-10">
      <form style="background-color:  rgb( 253,254,255);"><br>


    <section class="ftco-section ftco-no-pb contact-section" style="background-color: white;">
      <div class="container" style="background: rgb(250,250,250);">
        <div class="row d-flex contact-info">

           {% for i in pr %}
          <div class="col-md-3 d-flex">
          	<div class="align-self-stretch box p-4 text-center">



        <div class="cont">

<h4 class='mb-4'> {{  i.nom}} </h4>
            <a href="{% url 'single' i.id %}">
                <img src="{% static i.image %} " style='width: 305%; ' class='imag'></a>
                    <div class="mid">
    <div class="text">   <a href="{% url 'addCart' i.id %}"  style="padding: 10px; background:  rgb(1,124,183);">

	<i class="fa fa-shopping-cart" style="font-size:20px; color: white"></i>
 </a> </div>
  </div>
                </div>
                    <span class='r1'>{{ i.prix }} MAD</span><br>
            <a href="{% url 'single' i.id %}" id="ach" class="btn btn-primary" >Acheter</a>











	          </div>
          </div>




{% endfor %}

        </div>
      </div>
      <br><br>

    </section></form>
    </div>

  </div></div><br><br><br><br><br><br><br><br><br><br>

    <!-- ========bg-05 started ========= -->


  </main>

{% include 'footer.html' %}
</body>
<script type="text/javascript">

// multiple handled with value
	var pmdSliderValueRange = document.getElementById('pmd-slider-value-range');

	noUiSlider.create(pmdSliderValueRange, {
		start: [ 20, 80 ], // Handle start position
		connect: true, // Display a colored bar between the handles
		tooltips: [ wNumb({ decimals: 0 }), wNumb({ decimals: 0 }) ],
		format: wNumb({
			decimals: 0,
			thousand: '',
			postfix: '',
		}),
		range: { // Slider can select '0' to '100'
			'min': 0,
			'max': 300
		},
     step: 5,
		  pips: {
			  mode: 'steps',
			  density: 10
		  }
	});

	var valueMax = document.getElementById('value-max'),
		valueMin = document.getElementById('value-min');

	// When the slider value changes, update the input and span
	pmdSliderValueRange.noUiSlider.on('update', function( values, handle ) {
		if ( handle ) {
			valueMax.value = values[handle];
		} else {
			valueMin.value = values[handle];
		}
	});

</script>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>

</html>