<!doctype html>
<html lang="en">
  <head>
     {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Charity</title>

  <link  href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link  href="{% static 'css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}"  rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


	</head>

	<body>
<!--begin nv -->


 {% include 'header.html' %}
    <!-- END nav -->










     <main class="charity-01-main">

      <!-- ======== banner started ========= -->
    <section class="banner" style="color :blue;" >

      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="wrapper">
              <div class="content">
                <h1>Vous pouvez aider nos toxicomanes</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur adipisci quasi,
                  blanditiis, quidem distinctio suscipit sunt ducimus illo veritatis corporis quas! Ipsa
                  obcaecati beatae, aut saepe aliquam corrupti fugit. Cupiditate.</p>
                <div class="btn-002">
                  <ul>
                    <li style="color:blue;"><a href="{% url 'allproduit' %}">Acheter maintenant</a></li>
                    <li><a href="{% url 'donation' %}">Donation maintenant</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-wrapper">
              <div class="banner-img">
                <img src="{% static 'mu.png'%}">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======== bg-02-b started ========= -->

    <section class="bg-02-b" style="background-color: aliceblue">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-001">
              <h2>A propos de nous</h2>
              <p>L’Association Nationale de Réduction des Risques des Drogues (RdR-MAROC) a été créée en 2008
                sous l’impulsion d’un groupe de personnes, représentants de la société civile,
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 ">
            <div class="_do_er_xs">
              <div class="_kl_de_s">

     <img src="{% static 'asset/images/slider/donation-01.png'%}">


              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="_do_er_xs">

                rassemblant aussi bien des professionnels de la santé, militants des droits humains, autres professionnels et acteurs concernés par la problématique (parents ou amis d’usagers, ou ex-usagers). Après les enquêtes RDS  menées par le ministre de la santé surtout en 2008 et 2011 Les résultats avaient relevé que la situation était grave vu l’utilisation répandue de l’héroïne par injection surtout dans le nord vu à la situation géographique de certains zones frontalières (zone de passage et de transit de personnes et de marchandises de tout genre),
En six années d’existence, RdR-Maroc a pu implanter des programmes de réduction des risques dans plusieurs sites prioritaires et où des interventions urgentes ont été jugées nécessaires en appui à la mise en place de la stratégie nationale dans le domaine. Elle a pu fédérer les actions pour la réduction des risques parmi les usagers de drogues et créer 6 sections qui se présentent comme suit (Nador; Oujda, Al Hoceima; Tétouan, Rabat ; Marrakech).
</div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======== services started ========= -->

    <section class="services-01">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-01">
              <h2>nos Services</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box" style="background-color: aliceblue;">
              <i class="fal fa-bone"></i>
              <h3>Raise Fund for Healthy Food</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box" style="background-color: aliceblue;">
              <i class="fal fa-graduation-cap"></i>
              <h3>Education for poor children </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box" style="background-color: aliceblue;">
              <i class="fal fa-child"></i>
              <h3>Promoting the Rights of Children</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box" style="background-color: aliceblue;">
              <i class="fal fa-box-heart"></i>
              <h3>Massive Donation to Poor</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box" style="background-color: aliceblue;">
              <i class="fal fa-hands-heart"></i>
              <h3>Huge help to homeless pupil</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box" style="background-color: aliceblue;">
              <i class="fal fa-home"></i>
              <h3>Let’s build some homes.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box" style="background-color: aliceblue;">
              <i class="fal fa-hand-holding-water"></i>
              <h3>Pure Water For Poor People</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box" style="background-color: aliceblue;">
              <i class="fal fa-heartbeat"></i>
              <h3>Medical Facilities For Childrens</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======== _ng_cs_we_rw started ========= -->

    <section class="_ng_cs_we_rw">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <div class="_lk_bg_cd">
              <i class="fa fa-hospital"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="200"></div>
              <h5>Nador</h5>
            </div>
          </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4">
            <div class="_lk_bg_cd">
              <i class="fa fa-hospital"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="200"></div>
              <h5>Oujda</h5>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <div class="_lk_bg_cd">
              <i class="fa fa-hospital"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="107"></div>
              <h5>Marrakech</h5>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <div class="_lk_bg_cd">
              <i class="fa fa-hospital"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="20"></div>
              <h5>Rabat</h5>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <div class="_lk_bg_cd">
              <i class="fa fa-hospital"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="123"></div>
              <h5>Tétouan</h5>
            </div>
          </div>

            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <div class="_lk_bg_cd">
              <i class="fa fa-hospital"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="123"></div>
              <h5>Al Hoceima</h5>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ========bg-03 started ========= -->



    <section class="bg-03" style="background-color: white">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-01">
              <h2>Dernières nouvelles</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>
        </div> <div class="row">
{% for b in blog %}


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <article class="_kl_cd">
              <div >

            <img src="{% static  b.image %}">


              </div>
              <div class="_oi_er_we">
                <h3>{{ b.titre}}</h3>
                <p>{{ b.text|truncatewords:"10" }} <a href="{% url 'singleBlog' b.id %}">Read More</a></p>
              </div>
            </article>
          </div>




{% endfor %}
          </div>
      </div>
    </section>

    <!-- ========bg-05 started ========= -->


  </main>

{% include 'footer.html' %}
	</body>
</html>

