  <footer style="background-color: aliceblue">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="_kl_ds_we">
            <div class="head-footer">
              <h3 style="color: black">Assistance 24/7/365</h3>
              <p style="color: black">
Besoin d'aide? n'hésitez pas à nous contacter notre équipe est prête à répondre à toutes vos questions
                  à tout moment dans tous nos comptes de médias sociaux.</p>
              <ol>
                <a class="social-icon" data-tooltip="email@gmail.com" href="">
    <i class="fa fa-envelope" aria-hidden="true"></i>
  </a>

&nbsp;
  <a class="social-icon" data-tooltip="LinkedIn" href="">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </a>&nbsp;

  <a class="social-icon" data-tooltip="Twitter" href="">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>&nbsp;

  <a class="social-icon" data-tooltip="Facebook" href="">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>&nbsp;

  <a class="social-icon" data-tooltip="YouTube" href="">
    <i class="fa fa-youtube" aria-hidden="true"></i>
  </a>&nbsp;
  <a class="social-icon" data-tooltip="YouTube" href="">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="_kl_ds_we">
            <div class="head-footer">
              <h3 style="color: black">Besoin d’aide</h3>
              <ul>
                  <li style="color: black"><a style="color: black" href="{% url 'espace' %}">Mon Compte</a></li>
                  <li style="color: black"><a style="color: black" href="{% url 'allproduit' %}">Acheter</a></li>
                  <li style="color: black"><a style="color: black" href="{% url 'donation' %}">Donation</a></li>
                  <li style="color: black"><a style="color: black" href="{% url 'contact' %}">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="_kl_ds_we">
            <div class="head-footer">
              <h3 style="color: black">LIENS RAPIDES</h3>
              <ul>
                <li ><a style="color: black" href="{% url 'home' %}">Accueil</a></li>
                <li style="color: black"><i ></i><a style="color: black" href="{% url 'allproduit' %}">Boutique</a></li>
                <li style="color: black"><i ></i><a style="color: black" href="{% url 'blogs' %}">Blog</a></li>
                <li style="color: black"><i ></i><a style="color: black" href="{% url 'donation' %}">Donation</a></li>
                <li style="color: black"><i></i><a style="color: black" href="{% url 'contact' %}">Contact Nous</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="_kl_ds_we">
            <div class="head-footer">
              <h3 style="color: black">trouve nous</h3>
              <ul class="un-hover" style="color: black">
                <li><i class="fa fa-location-arrow" aria-hidden="true"></i></i>Maroc</li>
                                     <li><i class="fa fa-phone" aria-hidden="true"></i></i>+212 5244-48737 </li>
                                     <li> <a class="social-icon" data-tooltip="email@gmail.com" href="">
    <i class="fa fa-envelope" aria-hidden="true"></i>
  </a>rdr@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row _pl_we_sq">
            <div class="col-12">
              <div class="last-01"><center>
                  <p style="color: black"><script>document.write(new Date().getFullYear());</script> @ All Rights Reserved ELMehdi Bouchachia</p>
              </center>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





  </footer>





<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Initialize Bootstrap functionality -->
<script>
// Initialize tooltip component
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

// Initialize popover component
$(function () {
  $('[data-toggle="popover"]').popover()})
      </script>