<!doctype html>
<html lang="en">

<head>
   {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Charity</title>

  <link  href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link  href="{% static 'css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}"  rel="stylesheet"/>
  <link href="{% static 'css/st.css' %}"  rel="stylesheet"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
</head>

<body>
  <!-- ======== header started ========= -->
 <div class="container-fluid px-md-5">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="index.html">Logistica <span>Architecture Agency</span></a>
						</div>
						<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
							<form action="#" class="searchform order-lg-last">
			          <div class="form-group d-flex">
			            <input type="text" class="form-control pl-3" placeholder="Search">
			            <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
			          </div>
			        </form>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="social-media">
		    		<p class="mb-0 d-flex">
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
		    		</p>
	        </div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">

	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
	        	<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Page</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="#">Page 1</a>
                <a class="dropdown-item" href="#">Page 2</a>
                <a class="dropdown-item" href="#">Page 3</a>
                <a class="dropdown-item" href="#">Page 4</a>
              </div>
            </li>
	        	<li class="nav-item"><a href="#" class="nav-link">Work</a></li>
	        	<li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
  <!-- ======== main started ========= -->

  <main class="charity-01-main">

      <!-- ======== banner started ========= -->
    <section class="banner" style="color :blue;" >
      <!-- <div class="shap-svg-01">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="600px" height="600px" viewBox="0 0 600 600" style="enable-background:new 0 0 600 600;" xml:space="preserve">
          <g id="Layer_1">
          </g>
          <g id="Layer_2">
            <circle style="fill:#FFE4EC;" cx="296.333" cy="301.333" r="283.666" />
          </g>
        </svg>
      </div> -->
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="wrapper">
              <div class="content">
                <h1>You can help with the poor children</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur adipisci quasi,
                  blanditiis, quidem distinctio suscipit sunt ducimus illo veritatis corporis quas! Ipsa
                  obcaecati beatae, aut saepe aliquam corrupti fugit. Cupiditate.</p>
                <div class="btn-002">
                  <ul>
                    <li style="color:blue;"><a href="#">Contact Us</a></li>
                    <li><a href="#">Follow Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-wrapper">
              <div class="banner-img">
                <img src="{% static 'asset/images/slider/donation-02.png'%}">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======== bg-02-b started ========= -->

    <section class="bg-02-b">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-001">
              <h2>About Us Charity</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laborisnisi.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 ">
            <div class="_do_er_xs">
              <div class="_kl_de_s">

     <img src="{% static 'asset/images/slider/donation-01.png'%}">


              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <div class="_do_er_xs">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation they ullamco.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation they ullamco.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======== services started ========= -->

    <section class="services-01">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-01">
              <h2>Our Services</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-bone"></i>
              <h3>Raise Fund for Healthy Food</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-graduation-cap"></i>
              <h3>Education for poor children </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-child"></i>
              <h3>Promoting the Rights of Children</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-box-heart"></i>
              <h3>Massive Donation to Poor</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-hands-heart"></i>
              <h3>Huge help to homeless pupil</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-home"></i>
              <h3>Let’s build some homes.</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-hand-holding-water"></i>
              <h3>Pure Water For Poor People</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="ser-box">
              <i class="fal fa-heartbeat"></i>
              <h3>Medical Facilities For Childrens</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======== _ng_cs_we_rw started ========= -->

    <section class="_ng_cs_we_rw">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="_lk_bg_cd">
              <i class="fal fa-school"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="200">200</div>
              <h5>Primary Schools</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="_lk_bg_cd">
              <i class="fal fa-hospitals"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="107">107</div>
              <h5>Hospitals</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="_lk_bg_cd">
              <i class="fal fa-hands-helping"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="20">20</div>
              <h5>Volunteers</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="_lk_bg_cd">
              <i class="fal fa-trophy"></i>
              <div style="color:#fff;font-size:20px;" class="counting" data-count="123">123</div>
              <h5>Winning Awards</h5>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ========bg-03 started ========= -->
 <div data-scroll-index='1' class="make_donation_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb-55">
                        <h3><span>Make a Donation</span></h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form action="#" class="donation_form">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="single_amount">
                                    <div class="input_field">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="basic-addon1">$</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="40,200" aria-label="Username" aria-describedby="basic-addon1">
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="single_amount">
                                   <div class="fixed_donat d-flex align-items-center justify-content-between">
                                       <div class="select_prise">
                                           <h4>Select Amount:</h4>
                                       </div>
                                        <div class="single_doonate">
                                            <input type="radio" id="blns_1" name="radio-group" checked>
                                            <label for="blns_1">10</label>
                                        </div>
                                        <div class="single_doonate">
                                            <input type="radio" id="blns_2" name="radio-group" checked>
                                            <label for="blns_2">30</label>
                                        </div>
                                        <div class="single_doonate">
                                            <input type="radio" id="Other" name="radio-group" checked>
                                            <label for="Other">Other</label>
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="donate_now_btn text-center">
                        <a href="#" class="boxed-btn4">Donate Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <section class="bg-03">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="head-01">
              <h2>Latest news</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <article class="_kl_cd">
              <div class="_i-tr">

            <img src="{% static 'asset/images/blog/blog_1.jpg'%}">


              </div>
              <div class="_oi_er_we">
                <h3>Brilliant After All, A New Album by Rebecca: Help poor people</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor
                  nobis....</p>
              </div>
            </article>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <article class="_kl_cd">
              <div class="_i-tr">
                <img src="{% static 'asset/images/blog/blog_2.jpg' %}">

              </div>
              <div class="_oi_er_we">
                <h3>South african pre primary school build for children</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor
                  nobis....</p>
              </div>
            </article>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <article class="_kl_cd">
              <div >
                <img src="{% static 'asset/images/blog/blog_3.jpg' %}">
              </div>
              <div class="_oi_er_we">
                <h3>Provide pure water for syrian poor people</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor
                  nobis....</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <!-- ========bg-05 started ========= -->


  </main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="_kl_ds_we">
            <div class="head-footer">
              <h3>Smart Charitables</h3>
              <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
              <ol>
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-twitter-square"></i></li>
                <li><i class="fab fa-linkedin"></i></li>
              </ol>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="_kl_ds_we">
            <div class="head-footer">
              <h3>Services</h3>
              <ul>
                <li><i class="fas fa-chevron-right"></i>Huge Help To Homeless Pupil</li>
                <li><i class="fas fa-chevron-right"></i>Education For Poor Children</li>
                <li><i class="fas fa-chevron-right"></i>Medical Facilities</li>
                <li><i class="fas fa-chevron-right"></i>Raise Fund For Healthy Food</li>
                <li><i class="fas fa-chevron-right"></i>Let’S Build Some Homes</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="_kl_ds_we">
            <div class="head-footer">
              <h3>Quick links</h3>
              <ul>
                <li><i class="fas fa-chevron-right"></i>Home</li>
                <li><i class="fas fa-chevron-right"></i>About Us</li>
                <li><i class="fas fa-chevron-right"></i>Services</li>
                <li><i class="fas fa-chevron-right"></i>Blog</li>
                <li><i class="fas fa-chevron-right"></i>Contact Us</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="_kl_ds_we">
            <div class="head-footer">
              <h3>find us</h3>
              <ul class="un-hover">
                <li><i class="far fa-location"></i>Marthandam</li>
                <li><i class="fas fa-mobile-alt"></i>+91 9751791203</li>
                <li><i class="far fa-envelope"></i>sales@smarteyeapps.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row _pl_we_sq">
            <div class="col-12">
              <div class="last-01">
                <p>2015 @ All Rights Reserved Designed and developed by<a
                    href="https://www.smarteyeapps.com">SmarteyeTechnologies</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>


<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
</html></title>
</head>
<body>

</body>
</html>